* {
        box-sizing: border-box;
        text-align: center;
    }
body{
    width: 960px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    font-size: 18px;
    margin: auto;
    box-sizing: border-box;
}
section{
    background:#ebebeb; 
    margin: 10px 0;
    height: 95px;
    padding-top: 2em;
}

#content, #aside{
    height:290px;; 
}

#aside{
    width: 415px;
    float: right;
}
#content{
    width: 520px;
    position: relative;
    float: left;
}
#article{
    background: #777;
    color: #ebebeb;
    margin: 10px;
    width: 500px;
    height: 190px;
    position: relative;
    bottom: -15px;
    padding-top: 1em;
}
#article > div{
    background: #ebebeb;
    color: #777;
    margin: 10px auto;
    width: 450px;
    height: 60px;
    position: relative;
    bottom: 0px;
    padding-top: 1em;
}

#footer{
    clear:both;
}